.wr{
    background:lightsalmon;
    font-weight:500;
}

.menu{
    display: flex;
    list-style: none;
    gap: 8px;
    padding-right: 8px;
}

.menu li:nth-child(4){
    margin-left: auto;
}

.menu li{
    padding-top: 8px;
}

.menu li:nth-child(2){
    padding-top: 16px;
}
.menu li:nth-child(3){
    padding-top: 16px;
}

.menu a{
    text-decoration: none;
}

.activLink{
    color: brown;
}

.img__serch{
    height: 5px;
}

.button{
    padding: 0;
    max-height: 30px;
}



.basketCounter{
    border-radius: 50%;
    width: 25px;
    text-align: center;
    border: 1px solid darkgreen;
    color:darkgreen;
    background-color:aliceblue;  
    margin-left: 2px;
} 

.basketNavLink{
    display: flex;
    flex-direction: row;
    color: darkgreen;
}