.wrap{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 18px;
    margin-top: 23vh;
}
.h1{
    
    text-align:center; 
}

.buttonWr{
    text-align: center;
   
}
button{
    max-width: 100px;
    max-height: 50px;
    justify-content: center;
    }

.header{
    position:fixed;
    display:flex;
    flex-direction: column;
    justify-content:end;
    left:0px;
    width:100vw;
    height:29vh;
    z-index: 9;
    background-color: white;
    }